* {
    margin: 0px;
    padding: 0px;
    /* border: 1px dotted red; */
}

#container {
    height: 100%;
    background: url(img/black_background.jpeg);
    box-shadow: 2px 0 10px rgb(0 0 0 / 50%);
}


/* header {
    display: flex;
    text-align: center;
    position: relative;
    justify-content: space-between;
    background-color: #05121a;
    width: 100%;
    font-size: 22px;
    padding: 16px;
    font-family: 'Merriweather', 'Roboto', 'Open Sans', 'Montserrat', sans-serif;
}

nav {
    display: flex;
}

#page_links {
    display: flex;
    margin: 5px;
    padding-right: 36px;
    text-transform: uppercase;
}

header h1 {
    padding-bottom: 26px;
    padding-left: 36px;
    font-size: 3em;
}

ul li,
a {
    list-style-type: none;
    text-align: left;
    text-decoration: none;
    padding: 7px;
}

.page_link {
    margin: 18px 0;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.active_page_link {
    border-bottom: 1px solid black;
    color: black !important;
}

.social_media {
    display: flex;
}

.social_media li {
    padding-top: 30px; 
    align-items: center;
} */

.brand {
    font-size: 2.2em;
    color: #ffffff;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 38px;
    font-family: 'Merriweather', 'Roboto', 'Open Sans', 'Montserrat', sans-serif;
}

.right-side {
    display: flex;
}

.nav-wrapper>.right-side>div {
    text-transform: uppercase;
    font-size: 1.9rem;
}

.nav-link-wrapper {
    height: 36px;
    margin: 0 16px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.active-nav-link {
    border-bottom: 1px solid #ffffff;
}

.active-nav-link a {
    color: #ffffff !important;
}

.nav-link-wrapper a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper:hover {
    border-bottom: 1px solid #ffffff;
}

.nav-link-wrapper a:hover {
    color: #ffffff;
}


/*242331*/

main {
    float: left;
    /* background: url(img/black_background.jpeg); */
    padding-left: 26px;
}

.white {
    color: #ffffff;
}

article h1,
p {
    color: #ffffffd7;
}

.news_date {
    color: #ffffca;
    padding: 0 0 20px 0;
}

article h1 {
    font-size: 2em;
}

#about_section {
    display: flex;
}

#about_text {
    display: block;
    color: #ffffffd7;
}

.work_section {
    display: flex;
}

.work_text {
    display: block;
    color: #ffffffd7;
    padding: 8px;
    font-family: 'Montserrat', 'Roboto', 'Open Sans', 'Raleway', serif;
}

.work_img {
    height: 215px;
    width: 175px;
    padding: 9px;
}

#footer {
    height: 65px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.social_media_img {
    height: 25px;
    width: 25px;
    padding-right: 25px;
}